<h1>Listing Memberships</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Duration</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.name %></td>
        <td><%= membership.cost %></td>
        <td><%= membership.duration %></td>
        <td><%= link_to 'Edit', edit_facility_membership_path(@facility, membership) %></td>
        <td><%= link_to 'Destroy', facility_membership_path(@facility, membership), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_facility_membership_path %>
