<div class="container">
  <div class="pull-right">
    <%= link_to "Admin Log out", destroy_admin_session_path, method: "delete" ,class: "btn btn-primary"%>
  </div>
  <%= render 'contact_messages/index.html' %>
  <% if @owners.length == 0 %>
      <h3>No owners</h3>
  <% else %>
      <h1>Owners</h1>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Gym</th>
          <th>Phone</th>
          <th>Email</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @owners.each do |owner| %>
            <tr>
              <td><%= owner.name %></td>
              <td>
                <% if owner.facility %>
                    <%= owner.facility.name %>
                <% else %>
                    <%= '-' %>
                <% end %>
              </td>
              <td>
                <% if owner.facility %>
                    <%= owner.facility.phone %>
                <% else %>
                    <%= '-' %></td>
                <% end %>
                <td><%= owner.email %></td>
                <td><%= link_to 'Edit', edit_owner_admin_path(owner) %></td>
                <td>
                  <% if !owner.deactivated %>
                      <%= link_to 'Deactivate', deactivate_owner_path(owner), method: :post %>
                  <% else %>
                      <%= link_to 'Activate', activate_owner_path(owner), method: :post %>
                  <% end %>
                </td>
                <td><%= link_to 'Delete', delete_owner_path(owner), method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>

</div>