<h1>Edit your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@owner, url: update_owner_admin_path(@owner)) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :password %><br>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <p>
          <span class="btn-warning">Leaving password empty will not update the old password</span>
        </p>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
