<div class="row" ng-app="vorkoutjs">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Members</a></li>
    </ul>
  </div>

  <div class="col-md-10" id="dashboard">
    <div class="row placeholders">
      <% if @facility %>
          <h1><%= @facility.name %></h1>
      <% else %>
          <h1>Initial Setup</h1>
          <%= simple_form_for([@owner, @owner.build_facility], html: {class: 'form-horizontal'}) do |f| %>
              <div>
                <h3>Facility Details</h3>
                <%= f.input :name %>
                <%= f.input :address %><br/>
                <%= f.input :phone %><br/>
              </div>

              <div>
                <%= f.button :submit %>
              </div>

          <% end %>
      <% end %>
    </div>
  </div>

</div>